
<div class="modal-header">
    <h3>{{term.name}}</h3>
</div>
<div ng-init="display.changesNotMade = true" class="modal-body row">

  <img src="http://modernmeadow.com/images/logo.png" width='200'>
  <h3>Making Leather and Meat Better</h3>
  <p>Modern Meadow applies the latest advances in tissue engineering to develop novel biomaterials to address some of our most pressing global challenges. We develop cultured leather and meat products which require no animal slaughter and much lower inputs of land, water, energy and chemicals.</p>

  <p>Website: <a href="http://modernmeadow.com/">http://modernmeadow.com/</a></p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="display.changesNotMade" ng-click="saveChanges()">Save Changes</button>
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>